* {
    margin: 0;
    padding: 0;
}
#title {
    text-align: center;
    color:white;
}
body {
    background-color: #251f2b;
}

#keyboard {
    margin: 33vh auto 0 auto;
    display: flex;
    width: 75%;
    height: 82px;
    justify-content: space-around;
}
.key {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    width: 100px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color:white;
    border: 1px solid white;
    transition: 0.3s;
}
.key:last-child {
    /*remove margin from the last key*/
    margin-right: 0;
}
.key kbd {
    padding-top: 30px;
    /*vertically center key text*/
    width: 100%;
}
.key span {
    font-size: 12px;
    width: 100%;
}

.soundPlaying {
    transform: scale(1.5);
    transition: 0.3s;
}
